generator/tests/complex_type/sequence/group_and_attribute/input.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:group name="group">
    <xs:sequence>
      <xs:element name="operation" type="xs:int">
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="group"/>
      </xs:sequence>
      <xs:attribute name="value" type="xs:int"/>
    </xs:complexType>
  </xs:element>
</xs:schema>