world_step.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:attribute name="property_rule_ref" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Represents the reference to a property rule.
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>

  <xs:attributeGroup name="attributeGroup_range">
    <xs:annotation>
      <xs:documentation>
        Represents a range with a value, maximum value, and a boolean to indicate
        if the range is inclusive.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="value" use="required" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          Represents the current value of the range.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="max_value" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          Represents the maximum value that the range can have.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="inclusive" default="true" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation>
          Indicates whether the range includes the maximum value or not.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="type_range">
    <xs:annotation>
      <xs:documentation>
        Represents a range with a value, maximum value, and a boolean to indicate
        if the range is inclusive.
      </xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="attributeGroup_range"/>
  </xs:complexType>

  <xs:complexType name="type_icon">
    <xs:annotation>
      <xs:documentation>
        SVG Icon.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:anyType"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="item_slot">
    <xs:annotation>
      <xs:documentation>
        Represents the slots where an item can be equipped.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="hand"/>
      <xs:enumeration value="chest"/>
      <xs:enumeration value="legs"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="type_direction">
    <xs:annotation>
      <xs:documentation>
        Represents the possible directions.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="north"/>
      <xs:enumeration value="east"/>
      <xs:enumeration value="south"/>
      <xs:enumeration value="west"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="type_cell_ref">
    <xs:annotation>
      <xs:documentation>
        Represents a cell reference in a location layer.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="layer">
      <xs:annotation>
        <xs:documentation>
          Represents the layer of the cell in the location layer.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="x" use="required" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          Represents the x-coordinate of the cell in the location layer.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="y" use="required" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          Represents the y-coordinate of the cell in the location layer.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:simpleType name="type_person_select">
    <xs:annotation>
      <xs:documentation>
        This type represents either 'self' or 'target'.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="self">
        <xs:annotation>
          <xs:documentation>
            Selects the person that initiates the interaction.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="target">
        <xs:annotation>
          <xs:documentation>
            Selects the person that the interaction applies to.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="type__person_selection">
    <xs:annotation>
      <xs:documentation>
        Represents the selection of a person with various attributes.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="radius" minOccurs="0" type="type__math_operations">
        <xs:annotation>
          <xs:documentation>
            Represents the radius of the selection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="min" minOccurs="0" type="type__math_operations">
        <xs:annotation>
          <xs:documentation>
            Represents the minimum number of persons to be selected.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="max" minOccurs="0" type="type__math_operations">
        <xs:annotation>
          <xs:documentation>
            Represents the maximum number of persons to be selected.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="property" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>
              Represents the properties of the selection.
            </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="min" type="type__math_operations">
              <xs:annotation>
                <xs:documentation>
                  Represents the minimum value of the property inclusive.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="max" type="type__math_operations">
              <xs:annotation>
                <xs:documentation>
                  Represents the maximum value of the property inclusive.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute ref="property_rule_ref"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="classification" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="classification_rule_ref" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="race" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="race_rule_ref" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="inventory" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="type__item_selection"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="type__item_selection">
    <xs:sequence>
      <xs:element name="min" minOccurs="0" type="type__math_operations"/>
      <xs:element name="max" minOccurs="0" type="type__math_operations"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="type_item">
    <xs:sequence>
      <xs:element name="wearable" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="slot" type="item_slot"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" use="required"/>
    <xs:attribute name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="type_item_selection">
    <xs:attribute name="name"/>
  </xs:complexType>

  <xs:complexType name="type__trigger">
    <xs:sequence>
      <xs:element name="person_action_used">
        <xs:complexType>
          <xs:attribute name="action_rule_ref" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--############-->
  <!-- Math operations -->
  <!--############-->

  <xs:simpleType name="type__group__operation__and">
    <xs:annotation>
      <xs:documentation>
        Operation that should be performed.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="add">
        <xs:annotation>
          <xs:documentation>Addition operation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="add_dice">
        <xs:annotation>
          <xs:documentation>Addition operation with random a number chosen between 0 and given value inclusive.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="multiply">
        <xs:annotation>
          <xs:documentation>Multiplication operation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="multiply_dice">
        <xs:annotation>
          <xs:documentation>Multiplication operation with a random number chosen between 0 and given value inclusive.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="divide">
        <xs:annotation>
          <xs:documentation>Standard division operation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="divide_dice">
        <xs:annotation>
          <xs:documentation>Division operation with a with random number chosen between 0 and given value inclusive.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="modulo">
        <xs:annotation>
          <xs:documentation>Standard modulo operation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="modulo_dice">
        <xs:annotation>
          <xs:documentation>Modulo operation with a with random number chosen between 0 and given value inclusive.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:group name="group__operation__and">
    <xs:sequence>
      <xs:sequence>
        <xs:element name="add_property" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="property_rule_ref" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="and" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="group__operation__and" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="do" use="required" type="type__group__operation__and"/>
            <xs:attribute name="value" use="required" type="xs:int"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:sequence>
  </xs:group>

  <xs:complexType name="type__math_operations">
    <xs:group ref="group__operation__and" minOccurs="0"/>
    <xs:attribute name="initial" use="required" type="xs:int"/>
  </xs:complexType>

  <xs:group name="group__math_operations">
    <xs:sequence>
      <xs:element name="operation">
        <xs:complexType>
          <xs:group ref="group__operation__and" minOccurs="0"/>
          <xs:attribute name="initial" use="required" type="xs:int"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>


  <!--#########-->
  <!-- Group name -->
  <!--#########-->

  <xs:group name="group__name_token">
    <xs:annotation>
      <xs:documentation>
        Represents rule for name generation.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name_token" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Represents a token used in name generation.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="ref" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Represents a reference to another 'name_rule'.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="name_rule_ref" use="required">
                  <xs:annotation>
                    <xs:documentation>
                      Represents the ID of the referenced 'name_rule'.
                    </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="one_of">
              <xs:annotation>
                <xs:documentation>
                  Represents a single choice between multiple 'name_token' elements.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:group ref="group__name_token">
                    <xs:annotation>
                      <xs:documentation>
                        Represents rule for name generation.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:group>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="prefix" use="required">
            <xs:annotation>
              <xs:documentation>
                Represents a string that is added to the beginning of the generated name.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>


  <xs:element name="world_step">
    <xs:complexType>
      <xs:sequence>


        <xs:element name="world_metadata">
          <xs:annotation>
            <xs:documentation>
              Configuration of the world step.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="previous_world_step" type="xs:anyURI" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    URI of the previous world step.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="next_world_step" type="xs:anyURI">
                <xs:annotation>
                  <xs:documentation>
                    URI of the next world step.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="elapsed_time">
                <xs:annotation>
                  <xs:documentation>
                    Time that has elapsed since the previous world step similar to unix time.
                    See https://en.wikipedia.org/wiki/Unix_time
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="value" type="xs:int" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="stepDuration">
                <xs:annotation>
                  <xs:documentation>
                    Time that the next step should advance.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="value" type="xs:int" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="counter">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>
                      Free number to use when a unique number is needed in last world step. When is consumed, it is
                      incremented.
                    </xs:documentation>
                  </xs:annotation>
                  <xs:attribute name="value" type="xs:int" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="randomization_table">
                <xs:annotation>
                  <xs:documentation>
                    List of numbers to be used by the pseudo-random number generator (PRG).
                    When a random number is needed, the PGR returns a value between 0 and 1.
                    The values are computed by using entries sequentially from this list divided by the max value.
                    After the world step is processed, the PRG should shift the order of the list
                    by moving the first element to the end to ensure a different sequence of random values.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>
                            Integer to be used by the pseudo-random number generator.
                          </xs:documentation>
                        </xs:annotation>
                        <xs:attribute name="value" type="xs:int"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>


        <xs:element name="rule_group" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              Represents a group of rules that can be applied to the world step.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>


              <xs:element name="property_rule" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="person_default" minOccurs="0">
                            <xs:complexType>
                              <xs:complexContent>
                                <xs:extension base="type__math_operations"/>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="item_default" minOccurs="0">
                            <xs:complexType>
                              <xs:complexContent>
                                <xs:extension base="type__math_operations"/>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="property-threshold" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string"
                                            use="required"/>
                              <xs:attribute name="min-value-inclusive"
                                            type="xs:int"/>
                              <xs:attribute name="max-value-inclusive"
                                            type="xs:int"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" use="required"/>
                        <xs:attribute name="units" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="classification_rule" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="property" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:group ref="group__math_operations"/>
                              </xs:sequence>
                              <xs:attribute name="property_rule_ref" use="required"/>
                              <xs:attribute name="is" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="lessThan"/>
                                    <xs:enumeration value="lessThanOrEqual"/>
                                    <xs:enumeration value="greaterThan"/>
                                    <xs:enumeration
                                            value="greaterThanOrEqual"/>
                                    <xs:enumeration value="equal"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="name_rule" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    A 'name_rule' is used to generate a string based on the 'name_token' elements it contains.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>
                          Represents an entry for a 'name_rule' that is used to generate a string based on the
                          'name_token' elements it contains.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:group ref="group__name_token">
                          <xs:annotation>
                            <xs:documentation>
                              The 'group__name_token' is a reference to a group of 'name_token' elements.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:group>
                        <xs:attribute name="id" use="required">
                          <xs:annotation>
                            <xs:documentation>
                              The 'id' attribute is a required attribute that uniquely identifies each 'entry'.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="race_rule" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="vision" type="type_range"/>
                          <xs:element name="movement" type="type_range"/>
                          <xs:element name="name" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="name_rule_ref" use="required"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="property_bonus" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:group ref="group__math_operations"/>
                              <xs:attribute name="property_rule_ref"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="icon" type="type_icon"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="action_rule" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="person_to_person" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="max_range">
                            <xs:complexType>
                              <xs:group ref="group__math_operations"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="min_range" minOccurs="0">
                            <xs:complexType>
                              <xs:group ref="group__math_operations"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="test">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value">
                                  <xs:complexType>
                                    <xs:group ref="group__math_operations"/>
                                    <xs:attribute name="target"
                                                  type="type_person_select"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="expected">
                                  <xs:complexType>
                                    <xs:group ref="group__math_operations"/>
                                    <xs:attribute name="target"
                                                  type="type_person_select"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="property_mutation" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="from" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:group ref="group__math_operations"/>
                                    <xs:attribute name="participant"
                                                  type="type_person_select"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="property_rule_ref"/>
                              <xs:attribute name="on" type="type_person_select"
                                            use="required"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="location_mutation" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="from" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:group ref="group__math_operations"/>
                                    <xs:attribute name="participant"
                                                  type="type_person_select"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name"/>
                              <xs:attribute name="on" type="type_person_select"
                                            use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id"/>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="item_rule" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name">
                            <xs:complexType>
                              <xs:group ref="group__name_token"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="weight-kg" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="value"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="wearable" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="slot" type="item_slot"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="events_rule" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="when" maxOccurs="unbounded" type="type__trigger"/>
                          <xs:element name="then" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="select_person" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:complexContent>
                                      <xs:extension base="type__person_selection">
                                        <xs:attribute name="origin" use="required">
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:enumeration value="target"/>
                                              <xs:enumeration value="self"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:attribute>
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" use="required" type="xs:string"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="locations_markov_chain" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="location_markov_link" minOccurs="0"
                                maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tag" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" use="required"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="sibling" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="location_rule_ref" use="required"/>
                              <xs:attribute name="quantity" type="xs:int"
                                            default="1"/>
                              <xs:attribute name="position" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="all"/>
                                    <xs:enumeration value="fill"/>
                                    <xs:enumeration value="top"/>
                                    <xs:enumeration value="right"/>
                                    <xs:enumeration value="bottom"/>
                                    <xs:enumeration value="left"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="icon" type="type_icon"/>
                        </xs:sequence>
                        <xs:attribute name="type" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>

            <xs:attribute name="id" use="required"/>
          </xs:complexType>
        </xs:element>


        <xs:element name="people" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="person" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="race" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="race_rule_ref" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="location" type="type_cell_ref"/>
                    <xs:element name="properties">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="property" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="property_rule_ref" use="required"/>
                              <xs:attribute name="value"
                                            use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="relations" minOccurs="0"
                                maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="with" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="inventory" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" type="type_item" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="classifications">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="classification" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="classification_rule_ref" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="icon" type="type_icon" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute name="id" use="required"/>
                  <xs:attribute name="name"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>


        <xs:element name="location_layer" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cell" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="location_rule_ref" use="required"/>
                  <xs:attribute name="x" use="required"/>
                  <xs:attribute name="y" use="required"/>
                  <xs:attribute name="rotation" type="type_direction"
                                default="north"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" default="default"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="actions" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="by" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="do">
                      <xs:complexType>
                        <xs:attribute name="action_ref" use="required"/>
                        <xs:attribute name="person_ref" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="move_towards">
                      <xs:complexType>
                        <xs:attribute name="layer" type="xs:string"/>
                        <xs:attribute name="x" type="xs:int" use="required"/>
                        <xs:attribute name="y" type="xs:int" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute name="person_ref" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>