world_step.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:attribute name="property_rule_ref" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Represents the reference to a property rule.
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attributeGroup name="attributeGroup_range">
    <xs:annotation>
      <xs:documentation>
        Represents a range with a value, maximum value, and a boolean to indicate
        if the range is inclusive.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="value" use="required" type="xs:int">
      <xs:annotation>
        <xs:documentation>
          Represents the current value of the range.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="max_value" type="xs:int">
      <xs:annotation>
        <xs:documentation>
          Represents the maximum value that the range can have.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="inclusive" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation>
          Indicates whether the range includes the maximum value or not.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="type_range">
    <xs:annotation>
      <xs:documentation>
        Represents a range with a value, maximum value, and a boolean to indicate
        if the range is inclusive.
      </xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="attributeGroup_range"/>
  </xs:complexType>

  <xs:complexType name="type__property_mutation_on">
    <xs:complexContent>
      <xs:extension base="type__property_mutation">
        <xs:attribute name="on" type="type_person_select"
                      use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="type__property_mutation">
    <xs:sequence>
      <xs:element name="from" maxOccurs="unbounded" minOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="operation" type="type__math_operations"/>
          </xs:sequence>
          <xs:attribute name="participant"
                        type="type_person_select"
                        use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="property_rule_ref" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="type_icon">
    <xs:annotation>
      <xs:documentation>
        SVG Icon.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any processContents="skip"/>
    </xs:sequence>
  </xs:complexType>


  <xs:simpleType name="type_person_select">
    <xs:annotation>
      <xs:documentation>
        This type represents either 'self' or 'target'.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="self">
        <xs:annotation>
          <xs:documentation>
            Selects the person that initiates the interaction.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="target">
        <xs:annotation>
          <xs:documentation>
            Selects the person that the interaction applies to.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="type__person_selection">
    <xs:annotation>
      <xs:documentation>
        Represents the selection of a person with various attributes.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="radius" minOccurs="0" type="type__math_operations">
        <xs:annotation>
          <xs:documentation>
            Represents the radius of the selection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="min" minOccurs="0" type="type__math_operations">
        <xs:annotation>
          <xs:documentation>
            Represents the minimum number of persons to be selected.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="max" minOccurs="0" type="type__math_operations">
        <xs:annotation>
          <xs:documentation>
            Represents the maximum number of persons to be selected.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="property" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>
              Represents the properties of the selection.
            </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="min" type="type__math_operations" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Represents the minimum value of the property inclusive.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="max" type="type__math_operations" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Represents the maximum value of the property inclusive.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="property_rule_ref" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="classification" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="classification_rule_ref" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="race" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="race_rule_ref" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="type__trigger">
    <xs:sequence>
      <xs:element name="person_action_used">
        <xs:complexType>
          <xs:attribute name="action_rule_ref" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--############-->
  <!-- Math operations -->
  <!--############-->

  <xs:simpleType name="type__group__operation__and">
    <xs:annotation>
      <xs:documentation>
        Operation that should be performed.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="add">
        <xs:annotation>
          <xs:documentation>Addition operation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="add_dice">
        <xs:annotation>
          <xs:documentation>Addition operation with random a number chosen between 0 and given value inclusive.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="multiply">
        <xs:annotation>
          <xs:documentation>Multiplication operation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="multiply_dice">
        <xs:annotation>
          <xs:documentation>Multiplication operation with a random number chosen between 0 and given value inclusive.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="divide">
        <xs:annotation>
          <xs:documentation>Standard division operation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="divide_dice">
        <xs:annotation>
          <xs:documentation>Division operation with a with random number chosen between 0 and given value inclusive.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="modulo">
        <xs:annotation>
          <xs:documentation>Standard modulo operation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="modulo_dice">
        <xs:annotation>
          <xs:documentation>Modulo operation with a with random number chosen between 0 and given value inclusive.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="type__math_operations_and">
    <xs:sequence>
      <xs:element name="add_property" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="property_rule_ref" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="and" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="type__math_operations_and">
              <xs:attribute name="do" use="required" type="type__group__operation__and"/>
              <xs:attribute name="value" use="required" type="xs:int"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="type__math_operations">
    <xs:complexContent>
      <xs:extension base="type__math_operations_and">
        <xs:attribute name="initial" use="required" type="xs:int">
          <xs:annotation>
            <xs:documentation>
              Represents the initial value of the operation.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <!--#########-->
  <!-- Group name -->
  <!--#########-->

  <xs:group name="group__name_token">
    <xs:annotation>
      <xs:documentation>
        Represents rule for name generation.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name_token" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Represents a token used in name generation.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="ref" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Represents a reference to another 'name_rule'.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="name_rule_ref" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:documentation>
                      Represents the ID of the referenced 'name_rule'.
                    </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="one_of">
              <xs:annotation>
                <xs:documentation>
                  Represents a single choice between multiple 'name_token' elements.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:group ref="group__name_token">
                    <xs:annotation>
                      <xs:documentation>
                        Represents rule for name generation.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:group>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="prefix" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                Represents a string that is added to the beginning of the generated name.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <!--#######-->
  <!-- Actions -->
  <!--#######-->

  <xs:complexType name="type__action">
    <xs:annotation>
      <xs:documentation>
        Represents an action.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="from">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>
              Represents the allowed entities that initiates the action, relative to 'on' selection.
            </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="person" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Represents an option that a person can initiate the action.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="select" minOccurs="0" type="type__person_selection">
                    <xs:annotation>
                      <xs:documentation>
                        Represents the conditions for a person to use the action.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="property_mutation" minOccurs="0" type="type__property_mutation"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="on">
        <xs:annotation>
          <xs:documentation>
            Represents the entity that the action is usable on, relative to 'from' selection.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="person" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Represents an option that a person can apply the action to.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="select" minOccurs="0" type="type__person_selection">
                    <xs:annotation>
                      <xs:documentation>
                        Represents the conditions for a person to apply the action to.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="property_mutation" minOccurs="0" type="type__property_mutation"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--############-->
  <!-- Location Graph -->
  <!--############-->

  <xs:complexType name="type__node_graph__selection">
    <xs:all>
      <xs:element name="in__location_graph" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Represents the selection of a node_graph in a location_graph.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="has__location_graph_id" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Represents a list of location graph IDs to choose from.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="or" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="location_graph_id_ref" type="xs:string"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="location_graph_id_ref" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="has__node_graph_id" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Represents a list of node graph IDs to choose from.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="or" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  Represents other elements that can be selected.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="node_graph_id_ref" type="xs:string"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="node_graph_id_ref" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="type__link_to__selection">
    <xs:annotation>
      <xs:documentation>
        Represents the selection of link_to.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="origin__node_graph__selection" minOccurs="0" type="type__node_graph__selection"/>
      <xs:element name="destination__node_graph__selection" minOccurs="0" type="type__node_graph__selection"/>
    </xs:all>
  </xs:complexType>

  <xs:element name="world_step">
    <xs:complexType>
      <xs:sequence>


        <xs:element name="world_metadata">
          <xs:annotation>
            <xs:documentation>
              Configuration of the world step.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="previous_world_step" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    URI of the previous world step.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="next_world_step" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    URI of the next world step.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="elapsed_time">
                <xs:annotation>
                  <xs:documentation>
                    Time that has elapsed since the previous world step similar to unix time.
                    See https://en.wikipedia.org/wiki/Unix_time
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="value" type="xs:int" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="stepDuration">
                <xs:annotation>
                  <xs:documentation>
                    Time that the next step should advance.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="value" type="xs:int" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="counter">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>
                      Free number to use when a unique number is needed in last world step. When is consumed, it is
                      incremented.
                    </xs:documentation>
                  </xs:annotation>
                  <xs:attribute name="value" type="xs:int" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="randomization_table">
                <xs:annotation>
                  <xs:documentation>
                    List of numbers to be used by the pseudo-random number generator (PRG).
                    When a random number is needed, the PGR returns a value between 0 and 1.
                    The values are computed by using entries sequentially from this list divided by the max value.
                    After the world step is processed, the PRG should shift the order of the list
                    by moving the first element to the end to ensure a different sequence of random values.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>
                            Integer to be used by the pseudo-random number generator.
                          </xs:documentation>
                        </xs:annotation>
                        <xs:attribute name="value" type="xs:int"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>


        <xs:element name="rule_group" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              Represents a group of rules that can be applied to the world step.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>


              <xs:element name="property_rule" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="person_default" minOccurs="0">
                            <xs:complexType>
                              <xs:complexContent>
                                <xs:extension base="type__math_operations"/>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="item_default" minOccurs="0">
                            <xs:complexType>
                              <xs:complexContent>
                                <xs:extension base="type__math_operations"/>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="property-threshold" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string"
                                            use="required"/>
                              <xs:attribute name="min-value-inclusive"
                                            type="xs:int"/>
                              <xs:attribute name="max-value-inclusive"
                                            type="xs:int"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="units" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="classification_rule" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="property" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="operation" type="type__math_operations"/>
                              </xs:sequence>
                              <xs:attribute name="property_rule_ref" type="xs:string" use="required"/>
                              <xs:attribute name="is" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="lessThan"/>
                                    <xs:enumeration value="lessThanOrEqual"/>
                                    <xs:enumeration value="greaterThan"/>
                                    <xs:enumeration
                                            value="greaterThanOrEqual"/>
                                    <xs:enumeration value="equal"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="name_rule" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    A 'name_rule' is used to generate a string based on the 'name_token' elements it contains.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>
                          Represents an entry for a 'name_rule' that is used to generate a string based on the
                          'name_token' elements it contains.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:group ref="group__name_token">
                          <xs:annotation>
                            <xs:documentation>
                              The 'group__name_token' is a reference to a group of 'name_token' elements.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:group>
                        <xs:attribute name="id" use="required">
                          <xs:annotation>
                            <xs:documentation>
                              The 'id' attribute is a required attribute that uniquely identifies each 'entry'.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="race_rule" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="vision" type="type_range" minOccurs="0"/>
                          <xs:element name="movement" type="type_range" minOccurs="0"/>
                          <xs:element name="name" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="name_rule_ref" type="xs:string" use="required"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="property_bonus" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:complexContent>
                                <xs:extension base="type__math_operations">
                                  <xs:attribute name="property_rule_ref" type="xs:string" use="required"/>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="icon" type="type_icon" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="action_rule" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="from_person" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>
                          Represents an action rule that originates from a person.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="selection" minOccurs="0" type="type__person_selection"/>
                          <xs:element name="mutations" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>
                                Represents the mutations that can be applied to the properties of the person initiating
                                the action.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="property_mutation" minOccurs="0" maxOccurs="unbounded"
                                            type="type__property_mutation"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="on_person" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>
                                Represents the person on whom the action is applied.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="selection" minOccurs="0">
                                  <xs:complexType>
                                    <xs:complexContent>
                                      <xs:extension base="type__person_selection">
                                        <xs:sequence>
                                          <xs:element name="from_person_same_location_graph_node" minOccurs="0">
                                            <xs:complexType>
                                              <xs:attribute name="value" use="required" type="xs:boolean"/>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="mutations" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>
                                      Represents the mutations that can be applied to the properties of the person the
                                      action is applied to.
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="property_mutation" minOccurs="0"
                                                  type="type__property_mutation"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:all>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="global" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:complexContent>
                                <xs:extension base="type__action">
                                  <xs:attribute name="id" use="required" type="xs:string"/>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="person_to_person" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="test">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="operation" type="type__math_operations"/>
                                    </xs:sequence>
                                    <xs:attribute name="target"
                                                  type="type_person_select"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="expected">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="operation" type="type__math_operations"/>
                                    </xs:sequence>
                                    <xs:attribute name="target"
                                                  type="type_person_select"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="property_mutation" minOccurs="0" type="type__property_mutation_on"/>
                          <xs:element name="location_mutation" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="from" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="operation" type="type__math_operations"/>
                                    </xs:sequence>
                                    <xs:attribute name="participant"
                                                  type="type_person_select"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name"/>
                              <xs:attribute name="on" type="type_person_select"
                                            use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" use="required" type="xs:string"/>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="events_rule" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="when" maxOccurs="unbounded" type="type__trigger"/>
                          <xs:element name="then" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="select_person" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:complexContent>
                                      <xs:extension base="type__person_selection">
                                        <xs:attribute name="origin" use="required">
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:enumeration value="target"/>
                                              <xs:enumeration value="self"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:attribute>
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="property_mutation" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>
                                      Represents the value that will be added to the property.
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:complexContent>
                                      <xs:extension base="type__math_operations">
                                        <xs:attribute name="property_rule_ref" type="xs:string" use="required">
                                          <xs:annotation>
                                            <xs:documentation>
                                              Represents the reference to a property rule.
                                            </xs:documentation>
                                          </xs:annotation>
                                        </xs:attribute>
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" use="required" type="xs:string"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="link_group_rule_list" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Represents a group of rules for linking nodes in a location graph.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="link_group_rule" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="to_option" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>
                                Represents the options to go to the next node.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="distance_to_progress_multiplier" minOccurs="0"
                                            type="type__math_operations"/>
                                <xs:element name="person_progress_property" minOccurs="0"
                                            type="type__math_operations"/>
                              </xs:all>
                              <xs:attribute name="node_rule_ref" type="xs:string" use="required">
                                <xs:annotation>
                                  <xs:documentation>
                                    Represents the reference of the target node.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="distance" type="xs:int" use="required">
                                <xs:annotation>
                                  <xs:documentation>
                                    Represents the distance between the nodes.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="maxDistance" type="xs:int">
                                <xs:annotation>
                                  <xs:documentation>
                                    Represents the maximum distance between the nodes.
                                    If unset it defaults to distance value.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="adjacent_depth_limit" type="xs:int" use="required">
                                <xs:annotation>
                                  <xs:documentation>
                                    When node is created, it checks all links, recursive at the depth indicated,
                                    to add links to this node, if applicable based on conditions of
                                    this node and target node.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="angle" type="xs:int" use="required">
                          <xs:annotation>
                            <xs:documentation>
                              Represents the angle of the link group, used as minimum value when creating a link.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="angleMax" type="xs:int">
                          <xs:annotation>
                            <xs:documentation>
                              Represents the maximum angle of the link group, used when creating a link.
                              If unset it defaults to angle value.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="limit" type="xs:int">
                          <xs:annotation>
                            <xs:documentation>
                              Represents the maximum number of links that can be created from this group.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="location_graph_rule" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="setup">
                      <xs:annotation>
                        <xs:documentation>
                          Represents the initial generation of the location graph.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="starting_node">
                            <xs:annotation>
                              <xs:documentation>
                                Represents the starting node of the location graph.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="node_rule_ref" type="xs:string" use="required"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="necessary_node" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>
                                Represents options of nodes that must exists in the location graph.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="or" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:attribute name="node_rule_ref" type="xs:string" use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="node_rule_ref" type="xs:string" use="required"/>
                              <xs:attribute name="min" type="xs:int" use="required">
                                <xs:annotation>
                                  <xs:documentation>
                                    Represents the minimum number of nodes that must exist.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="max" type="xs:int">
                                <xs:annotation>
                                  <xs:documentation>
                                    Represents the maximum number of nodes that must exist.
                                    If unset it defaults to min value.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="node_rule" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="name" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="name_rule_ref" type="xs:string" use="required"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="classifications" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="classification" minOccurs="0"
                                            maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:attribute name="location_classification_rule_ref" type="xs:string"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="link_group_list" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="reference" minOccurs="0" maxOccurs="unbounded">
                                  <xs:annotation>
                                    <xs:documentation>
                                      Represents a reference to location_graph_node_link_group_rule.
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:attribute name="link_group_rule_ref" type="xs:string" use="required"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="link_group" minOccurs="0" maxOccurs="unbounded">
                                  <xs:annotation>
                                    <xs:documentation>
                                      Represents a group of links that can be applied to the node.
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="to_option" minOccurs="0" maxOccurs="unbounded">
                                        <xs:annotation>
                                          <xs:documentation>
                                            Represents the options to go to the next node.
                                          </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:all>
                                            <xs:element name="distance_to_progress_multiplier" minOccurs="0"
                                                        type="type__math_operations"/>
                                            <xs:element name="person_progress_property" minOccurs="0"
                                                        type="type__math_operations"/>
                                          </xs:all>
                                          <xs:attribute name="node_rule_ref" type="xs:string" use="required">
                                            <xs:annotation>
                                              <xs:documentation>
                                                Represents the reference of the target node.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                          <xs:attribute name="distance" type="xs:int" use="required">
                                            <xs:annotation>
                                              <xs:documentation>
                                                Represents the distance between the nodes.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                          <xs:attribute name="maxDistance" type="xs:int">
                                            <xs:annotation>
                                              <xs:documentation>
                                                Represents the maximum distance between the nodes.
                                                If unset it defaults to distance value.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                          <xs:attribute name="adjacent_depth_limit" type="xs:int" use="required">
                                            <xs:annotation>
                                              <xs:documentation>
                                                When node is created, it checks all links, recursive at the depth
                                                indicated,
                                                to add links to this node, if applicable based on conditions of
                                                this node and target node.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                    <xs:attribute name="angle" type="xs:int" use="required">
                                      <xs:annotation>
                                        <xs:documentation>
                                          Represents the angle of the link group, used as minimum value when creating a
                                          link.
                                        </xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="angleMax" type="xs:int">
                                      <xs:annotation>
                                        <xs:documentation>
                                          Represents the maximum angle of the link group, used when creating a link.
                                          If unset it defaults to angle value.
                                        </xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="limit" type="xs:int">
                                      <xs:annotation>
                                        <xs:documentation>
                                          Represents the maximum number of links that can be created from this group.
                                        </xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="existing_person" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>
                                Represents the persons in the node at the moment of creation.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="person_selection" type="type__person_selection"/>
                              </xs:all>
                              <xs:attribute name="min" type="xs:int" use="required">
                                <xs:annotation>
                                  <xs:documentation>
                                    Represents the minimum number of persons that must exist at the moment of creation.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="max" type="xs:int">
                                <xs:annotation>
                                  <xs:documentation>
                                    Represents the maximum number of persons that must exist at the moment of creation.
                                    If unset it defaults to min value.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:all>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>


              <xs:element name="location_classification_rule" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


            </xs:all>

            <xs:attribute name="id" use="required"/>
          </xs:complexType>
        </xs:element>

        <xs:element name="data">
          <xs:complexType>
            <xs:all>
              <xs:element name="people" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="person" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="race" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="race_rule_ref" type="xs:string" use="required"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="properties" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="property" minOccurs="0"
                                            maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:attribute name="property_rule_ref" type="xs:string" use="required"/>
                                    <xs:attribute name="value"
                                                  type="xs:int"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="relations" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="with" use="required"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="classifications" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="classification" minOccurs="0"
                                            maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:attribute name="classification_rule_ref" type="xs:string" use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="icon" type="type_icon" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="id" use="required" type="xs:string"/>
                        <xs:attribute name="name" type="xs:string"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="location" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="location_graph" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>
                          Represents a location graph.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="rule">
                            <xs:annotation>
                              <xs:documentation>
                                Represents the rule that will be used when creating or extending the graph.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="location_graph_rule_ref" type="xs:string" use="required">
                                <xs:annotation>
                                  <xs:documentation>
                                    Represents the reference to the location graph rule that will be used to create or
                                    extend the
                                    graph.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="node" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>
                                Represents a node in the location graph.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="name" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="value" type="xs:string" use="required"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="position" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>
                                      Represents the position of the node in the graph.
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:attribute name="x" type="xs:int" use="required"/>
                                    <xs:attribute name="y" type="xs:int" use="required"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="classifications" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="classification" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:attribute name="location_classification_rule_ref" type="xs:string"
                                                        use="required"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="links" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="link_to" minOccurs="0" maxOccurs="unbounded">
                                        <xs:annotation>
                                          <xs:documentation>
                                            Represents the links to other nodes in the graph.
                                          </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:all>
                                            <xs:element name="people" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="person" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                      <xs:attribute name="person_id_ref" type="xs:string"
                                                                    use="required">
                                                        <xs:annotation>
                                                          <xs:documentation>
                                                            Represents the reference to the person that will be linked
                                                            to.
                                                          </xs:documentation>
                                                        </xs:annotation>
                                                      </xs:attribute>
                                                      <xs:attribute name="accumulated_progress" type="xs:int"
                                                                    use="required">
                                                        <xs:annotation>
                                                          <xs:documentation>
                                                            Represents the accumulated progress of the person in the
                                                            link.
                                                          </xs:documentation>
                                                        </xs:annotation>
                                                      </xs:attribute>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="person_progress_property" minOccurs="0"
                                                        type="type__math_operations"/>
                                          </xs:all>
                                          <xs:attribute name="node_id_ref" use="required" type="xs:string">
                                            <xs:annotation>
                                              <xs:documentation>
                                                Represents the reference to the node that will be linked to.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                          <xs:attribute name="total_progress" type="xs:int" use="required">
                                            <xs:annotation>
                                              <xs:documentation>
                                                Represents the invested time to reach the node.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="people" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>
                                      Represents the people in the node.
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="person" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:attribute name="person_id_ref" type="xs:string" use="required">
                                            <xs:annotation>
                                              <xs:documentation>
                                                Represents the reference to the person that will be in the node.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                              <xs:attribute name="node_rule_ref" type="xs:string" use="required">
                                <xs:annotation>
                                  <xs:documentation>
                                    Represents the reference to the node rule was used to create the node.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="id" type="xs:string" use="required">
                                <xs:annotation>
                                  <xs:documentation>
                                    Represents the unique identifier of the node.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string">
                          <xs:annotation>
                            <xs:documentation>
                              Represents the unique identifier of the location graph.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="actions" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="by" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="do">
                      <xs:complexType>
                        <xs:attribute name="action_rule_ref" type="xs:string"/>
                        <xs:attribute name="action_ref" type="xs:string"/>
                        <xs:attribute name="person_ref" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="move_towards">
                      <xs:complexType>
                        <xs:attribute name="layer" type="xs:string"/>
                        <xs:attribute name="x" type="xs:int" use="required"/>
                        <xs:attribute name="y" type="xs:int" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute name="person_ref" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="location_graph.create" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    Represents the action to create a location graph.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="location_graph_rule_ref" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Represents the reference to the location graph rule that will be used to create the graph.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="location_graph.node.create_adjacent" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    Represents the action to create an adjacent node.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="location_graph_id_ref" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Represents the reference to the location graph that will be used to select the node.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="node_id_ref" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Represents the reference to the node that is inside the given location_graph_id_ref value,
                        that will be used to create the adjacent node.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="location_graph.node.add_classification" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    Represents the action to create an adjacent node.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:all>
                    <xs:element name="node_graph_selection" type="type__node_graph__selection"/>
                    <xs:element name="to_be_added__classification">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="and" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="location_classification_rule_ref" type="xs:string" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="location_classification_rule_ref" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="person.teleport" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Represents the action to teleport a person to a location ignoring checks.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="location_graph" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>
                          Represents the location graph that will be used to teleport the person.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="location_graph_id_ref" type="xs:string" use="required">
                          <xs:annotation>
                            <xs:documentation>
                              Represents the reference to the location group that will be used to teleport the person.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="node_id_ref" type="xs:string" use="required">
                          <xs:annotation>
                            <xs:documentation>
                              Represents the reference to the node that will be used to teleport the person.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="link_to">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="selection" type="type__link_to__selection"/>
                        </xs:sequence>
                        <xs:attribute name="accumulated_progress" type="xs:int" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute name="person_id_ref" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Represents the reference to the person that will be teleported.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="person.on_person.property_mutation" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="person_id_ref" type="xs:string" use="required"/>
                  <xs:attribute name="target_person_id_ref" type="xs:string" use="required"/>
                  <xs:attribute name="action_property_mutation_rule_ref" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="person.create" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="node_graph__selection" type="type__node_graph__selection"/>
                    <xs:element name="person__selection" type="type__person_selection"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="person.move_to" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="find_path_towards" type="type__node_graph__selection" minOccurs="0"/>
                    <xs:element name="path" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="node" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="node_id_ref" use="required" type="xs:string"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="person_id_ref" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="from_person" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="on_person">
                      <xs:complexType>
                        <xs:attribute name="person_id_ref" use="required" type="xs:string"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="person_id_ref" type="xs:string" use="required"/>
                  <xs:attribute name="from_person_rule_ref" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>