generator/tests/type/type_of_complex_type/multiple/input.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="complexType">
    <xs:attribute name="complexAttribute" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="secondComplexType">
    <xs:attribute name="secondComplexAttribute" type="xs:int"/>
  </xs:complexType>

  <xs:element name="root" type="complexType">
  </xs:element>
</xs:schema>