generator/tests/model/complex_type/complexContent/input.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="extension">
    <xs:attribute type="xs:string" name="extensionAttribute"/>
  </xs:complexType>

  <xs:complexType name="complexType">
    <xs:complexContent>
      <xs:extension base="extension">
        <xs:attribute name="attribute" type="xs:string"
                      use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="root" type="complexType">
  </xs:element>
</xs:schema>