schema/world_step/race_definition.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:complexType name="type_race_property">
        <xs:attribute name="default_value"/>
    </xs:complexType>
    <xs:element name="race_defintion">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="property" type="type_race_property" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>


    <xs:element name="race_definitions">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="race_defintion" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
    </xs:element>
</xs:schema>