schema/world_step/world_step.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../types/schema.xsd"/>

  <xs:complexType name="type_icon">
    <xs:simpleContent>
      <xs:extension base="xs:anyType"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="item_slot">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hand"/>
      <xs:enumeration value="chest"/>
      <xs:enumeration value="legs"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="metadata_classification">
    <xs:sequence>
      <xs:element name="required_property">
        <xs:complexType>
          <xs:attribute name="name" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="item_ref">
    <xs:attribute name="ref" use="required"/>
    <xs:attribute name="equipped" type="item_slot"/>
  </xs:complexType>

  <xs:simpleType name="type_direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="north"/>
      <xs:enumeration value="east"/>
      <xs:enumeration value="south"/>
      <xs:enumeration value="west"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="type_cell_ref">
    <xs:attribute name="layer"/>
    <xs:attribute name="x" use="required" type="xs:integer"/>
    <xs:attribute name="y" use="required" type="xs:integer"/>
  </xs:complexType>
  <xs:simpleType name="type_person_select">
    <xs:restriction base="xs:string">
      <xs:enumeration value="self"/>
      <xs:enumeration value="target"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="type_person_selection">
    <xs:sequence>
      <xs:element name="race" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="race_rule_ref" use="required"/>
          <xs:attribute name="quantity" use="required" type="xs:int"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="inventory" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="quantity">
                    <xs:complexType>
                      <xs:group ref="group__math_operations"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="item_rule_ref" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:group name="group__math_operations">
    <xs:sequence>
      <xs:element name="operation" maxOccurs="unbounded">
        <xs:complexType>
          <xs:choice>
            <xs:element name="add" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="add_dice" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="multiply" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="multiply_dice" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="divide" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="divide_dice" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="modulo" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="modulo_dice" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>


            <xs:element name="add_property_value" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="property_rule_ref" use="required"/>
              </xs:complexType>
            </xs:element>

            <xs:element name="group" minOccurs="0">
              <xs:complexType>
                <xs:group ref="group__math_operations"/>
              </xs:complexType>
            </xs:element>

            <xs:element name="max_between" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="group" minOccurs="2" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:group ref="group__math_operations"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="min" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="group" minOccurs="2" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:group ref="group__math_operations"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="group__name_token">
    <xs:sequence>
      <xs:element name="name_token" maxOccurs="unbounded">
        <xs:complexType>
          <xs:choice>
            <xs:element name="ref" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="name_rule_ref" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="one_of">
              <xs:complexType>
                <xs:sequence>
                  <xs:group ref="group__name_token"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="prefix" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:element name="world_step">
    <xs:complexType>
      <xs:sequence>


        <xs:element name="world_metadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="previous_world_step" type="xs:anyURI" minOccurs="0"/>
              <xs:element name="next_world_step" type="xs:anyURI"/>
              <xs:element name="elapsed_time">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:int" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="stepDuration">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:int" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="counter">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:int" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="randomization_table">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:int"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>


        <xs:element name="rule_group" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>


              <xs:element name="property_rule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="default">
                            <xs:complexType>
                              <xs:choice>
                                <xs:group ref="group__math_operations"/>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="property-threshold" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string"
                                            use="required"/>
                              <xs:attribute name="min-value-inclusive"
                                            type="xs:int"/>
                              <xs:attribute name="max-value-inclusive"
                                            type="xs:int"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" use="required"/>
                        <xs:attribute name="units" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="classification_rule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="property" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:group ref="group__math_operations"/>
                              </xs:sequence>
                              <xs:attribute name="property_rule_ref" use="required"/>
                              <xs:attribute name="is" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="lessThan"/>
                                    <xs:enumeration value="lessThanOrEqual"/>
                                    <xs:enumeration value="greaterThan"/>
                                    <xs:enumeration
                                            value="greaterThanOrEqual"/>
                                    <xs:enumeration value="equal"/>
                                    <xs:enumeration value="notEqual"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="name_rule" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0">
                      <xs:complexType>
                        <xs:group ref="group__name_token"/>
                        <xs:attribute name="id" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="race_rule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="vision" type="type_range"/>
                          <xs:element name="movement" type="type_range"/>
                          <xs:element name="name" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="name_rule_ref" use="required"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="property_bonus" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:group ref="group__math_operations"/>
                              <xs:attribute name="property_rule_ref"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="icon" type="type_icon"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="action_rule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="person_to_person" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="max_range" minOccurs="1">
                            <xs:complexType>
                              <xs:group ref="group__math_operations"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="min_range" minOccurs="0">
                            <xs:complexType>
                              <xs:group ref="group__math_operations"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="test">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value">
                                  <xs:complexType>
                                    <xs:group ref="group__math_operations"/>
                                    <xs:attribute name="target"
                                                  type="type_person_select"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="expected">
                                  <xs:complexType>
                                    <xs:group ref="group__math_operations"/>
                                    <xs:attribute name="target"
                                                  type="type_person_select"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="property_mutation" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="from" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:group ref="group__math_operations"/>
                                    <xs:attribute name="participant"
                                                  type="type_person_select"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="property_rule_ref"/>
                              <xs:attribute name="on" type="type_person_select"
                                            use="required"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="location_mutation" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="from" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:group ref="group__math_operations"/>
                                    <xs:attribute name="participant"
                                                  type="type_person_select"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name"/>
                              <xs:attribute name="on" type="type_person_select"
                                            use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id"/>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="item_rule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="weight-kg" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="value"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="wearable" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="slot" type="item_slot"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="events_rule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="when" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:choice>
                                <xs:element name="person_action_used">
                                  <xs:complexType>
                                    <xs:attribute name="action_rule_ref" use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="then" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="at">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="radius">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:group ref="group__math_operations"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="origin">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:enumeration value="self"/>
                                          <xs:enumeration value="target"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="create_person" minOccurs="0" type="type_person_selection"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" use="required" type="xs:string"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="locations_markov_chain" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="location_markov_link" minOccurs="0"
                                maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tag" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" use="required"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="sibling" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="location_rule_ref" use="required"/>
                              <xs:attribute name="quantity" type="xs:int"
                                            default="1"/>
                              <xs:attribute name="position" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="all"/>
                                    <xs:enumeration value="fill"/>
                                    <xs:enumeration value="top"/>
                                    <xs:enumeration value="right"/>
                                    <xs:enumeration value="bottom"/>
                                    <xs:enumeration value="left"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="icon" type="type_icon"/>
                        </xs:sequence>
                        <xs:attribute name="type" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>

            <xs:attribute name="id" use="required"/>
          </xs:complexType>
        </xs:element>


        <xs:element name="people" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="person" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="race">
                      <xs:complexType>
                        <xs:attribute name="race_rule_ref" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="location" type="type_cell_ref"/>
                    <xs:element name="properties">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="property" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="property_rule_ref" use="required"/>
                              <xs:attribute name="value"
                                            use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="relations" minOccurs="0"
                                maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="with" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="inventory" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item">
                            <xs:complexType>
                              <xs:attribute name="item_rule_ref"/>
                              <xs:attribute name="equipped"
                                            type="item_slot"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="classifications">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="classification" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="classification_ref" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="icon" type="type_icon" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute name="id" use="required"/>
                  <xs:attribute name="name"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>


        <xs:element name="location_layer" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cell" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="location_rule_ref" use="required"/>
                  <xs:attribute name="x" use="required"/>
                  <xs:attribute name="y" use="required"/>
                  <xs:attribute name="rotation" type="type_direction"
                                default="north"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" default="default"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="actions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="by" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="do">
                      <xs:complexType>
                        <xs:attribute name="action_ref" use="required"/>
                        <xs:attribute name="person_ref" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="move_towards">
                      <xs:complexType>
                        <xs:attribute name="layer" type="xs:string"/>
                        <xs:attribute name="x" type="xs:int" use="required"/>
                        <xs:attribute name="y" type="xs:int" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute name="person_ref" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>