schema/world_step/world_step.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:include schemaLocation="../types/schema.xsd"/>

  <xs:simpleType name="item_slot">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hand"/>
      <xs:enumeration value="chest"/>
      <xs:enumeration value="legs"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="metadata_classification">
    <xs:sequence>
      <xs:element name="required_property">
        <xs:complexType>
          <xs:attribute name="name" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="item_ref">
    <xs:attribute name="ref" use="required"/>
    <xs:attribute name="equipped" type="item_slot"/>
  </xs:complexType>

  <xs:simpleType name="type_direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="north"/>
      <xs:enumeration value="east"/>
      <xs:enumeration value="south"/>
      <xs:enumeration value="west"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="type_cell_ref">
    <xs:attribute name="layer"/>
    <xs:attribute name="x" use="required" type="xs:integer"/>
    <xs:attribute name="y" use="required" type="xs:integer"/>
  </xs:complexType>
  <xs:simpleType name="type_person_select">
    <xs:restriction base="xs:string">
      <xs:enumeration value="self"/>
      <xs:enumeration value="target"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="type_person_selection">
    <xs:sequence>
      <xs:element name="race" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="race_ref" use="required"/>
          <xs:attribute name="quantity" use="required" type="xs:int"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:group name="type_math_operations">
    <xs:sequence>
      <xs:element name="operation" maxOccurs="unbounded">
        <xs:complexType>
          <xs:choice>
            <xs:element name="add" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="add_dice" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="multiply" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="multiply_dice" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="divide" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="divide_dice" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="modulo" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="modulo_dice" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" type="xs:int" use="required"/>
              </xs:complexType>
            </xs:element>


            <xs:element name="add_property_value" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="property_ref" use="required"/>
              </xs:complexType>
            </xs:element>

            <xs:element name="group" minOccurs="0">
              <xs:complexType>
                <xs:group ref="type_math_operations"/>
              </xs:complexType>
            </xs:element>

            <xs:element name="max_between" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="group" minOccurs="2" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:group ref="type_math_operations"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="min" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="group" minOccurs="2" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:group ref="type_math_operations"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:element name="world_step">
    <xs:complexType>
      <xs:sequence>


        <xs:element name="world_metadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="previous_world_step" type="xs:anyURI" minOccurs="0"/>
              <xs:element name="next_world_step" type="xs:anyURI"/>
              <xs:element name="elapsed_time">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:int" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="stepDuration">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:int" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="counter">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:int" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="randomization_table">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:int"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>


        <xs:element name="rule_group">
          <xs:complexType>
            <xs:sequence>


              <xs:element name="property_metadata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="default">
                            <xs:complexType>
                              <xs:choice>
                                <xs:group ref="type_math_operations"/>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="property-threshold" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string"
                                            use="required"/>
                              <xs:attribute name="min-value-inclusive"
                                            type="xs:int"/>
                              <xs:attribute name="max-value-inclusive"
                                            type="xs:int"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" use="required"/>
                        <xs:attribute name="units" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>

                <!-- key for -->
                <!-- property_metadata/entry@name -->
                <xs:key name="K__property_metadata__entry.name">
                  <xs:selector xpath="entry"/>
                  <xs:field xpath="@name"/>
                </xs:key>
              </xs:element>


              <xs:element name="classification_metadata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="property" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:group ref="type_math_operations"/>
                              </xs:sequence>
                              <xs:attribute name="property_ref" use="required"/>
                              <xs:attribute name="is" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="lessThan"/>
                                    <xs:enumeration value="lessThanOrEqual"/>
                                    <xs:enumeration value="greaterThan"/>
                                    <xs:enumeration
                                            value="greaterThanOrEqual"/>
                                    <xs:enumeration value="equal"/>
                                    <xs:enumeration value="notEqual"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>

                <!-- key for -->
                <!-- classification_metadata/entry@name -->
                <xs:key name="K__classification_metadata__entry.name">
                  <xs:selector xpath="entry"/>
                  <xs:field xpath="@name"/>
                </xs:key>
              </xs:element>


              <xs:element name="race_metadata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="vision" type="type_range"/>
                          <xs:element name="movement" type="type_range"/>
                          <xs:element name="property_bonus" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:group ref="type_math_operations"/>
                              <xs:attribute name="property_ref"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>


              <xs:element name="action_metadata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="person_to_person" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="max_range" minOccurs="1">
                            <xs:complexType>
                              <xs:group ref="type_math_operations"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="min_range" minOccurs="0">
                            <xs:complexType>
                              <xs:group ref="type_math_operations"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="test">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value">
                                  <xs:complexType>
                                    <xs:group ref="type_math_operations"/>
                                    <xs:attribute name="target"
                                                  type="type_person_select"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="expected">
                                  <xs:complexType>
                                    <xs:group ref="type_math_operations"/>
                                    <xs:attribute name="target"
                                                  type="type_person_select"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="property_mutation" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="from" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:group ref="type_math_operations"/>
                                    <xs:attribute name="participant"
                                                  type="type_person_select"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="property_ref"/>
                              <xs:attribute name="on" type="type_person_select"
                                            use="required"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="location_mutation" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="from" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:group ref="type_math_operations"/>
                                    <xs:attribute name="participant"
                                                  type="type_person_select"
                                                  use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name"/>
                              <xs:attribute name="on" type="type_person_select"
                                            use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name"/>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>

                <!-- key for -->
                <!-- action_metadata/person_to_person@name -->
<!--                <xs:key name="K__action_metadata__person_to_person.name">-->
<!--                  <xs:selector xpath="person_to_person"/>-->
<!--                  <xs:field xpath="@name"/>-->
<!--                </xs:key>-->
              </xs:element>


              <xs:element name="item_metadata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="weight-kg" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="value"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="wearable" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="slot" type="item_slot"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>

                <!-- key for -->
                <!-- item_metadata/entry@name -->
                <xs:key name="K__item_metadata__entry.name">
                  <xs:selector xpath="entry"/>
                  <xs:field xpath="@name"/>
                </xs:key>
              </xs:element>


              <xs:element name="events_metadata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="when" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:choice>
                                <xs:element name="person_action_used">
                                  <xs:complexType>
                                    <xs:attribute name="action_ref" use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="then" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="at">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="radius">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:group ref="type_math_operations"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="origin">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:enumeration value="self"/>
                                          <xs:enumeration value="target"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="create_person" minOccurs="0" type="type_person_selection"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" use="required" type="xs:string"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>

                <!-- key for -->
                <!-- events_chain/entry@name -->
                <xs:key name="K__events_chain__entry.name">
                  <xs:selector xpath="entry"/>
                  <xs:field xpath="@name"/>
                </xs:key>

                <!-- key for -->
                <!-- events_chain/setup/create_action/@name -->
                <xs:key name="K__events_chain__setup__create_action.name">
                  <xs:selector xpath="entry/setup/create_action"/>
                  <xs:field xpath="@name"/>
                </xs:key>

              </xs:element>


              <xs:element name="locations_markov_chain" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="location_markov_link" minOccurs="0"
                                maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tag" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" use="required"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="sibling" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="location_ref" use="required"/>
                              <xs:attribute name="quantity" type="xs:int"
                                            default="1"/>
                              <xs:attribute name="position" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="all"/>
                                    <xs:enumeration value="fill"/>
                                    <xs:enumeration value="top"/>
                                    <xs:enumeration value="right"/>
                                    <xs:enumeration value="bottom"/>
                                    <xs:enumeration value="left"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>

                <!-- key for -->
                <!-- locations_markov_chain/location_markov_link@type -->
                <xs:key name="K__locations_markov_chain__location_markov_link.type">
                  <xs:selector xpath="location_markov_link"/>
                  <xs:field xpath="@type"/>
                </xs:key>

                <!-- fk for -->
                <!-- locations_markov_chain/location_markov_link/sibling@type -->
                <!-- locations_markov_chain/location_markov_link@type -->
<!--                <xs:keyref name="FK__locations_markov_chain__location_markov_link__sibling.type"-->
<!--                           refer="K__locations_markov_chain__location_markov_link.type">-->
<!--                  <xs:selector xpath="location_markov_link/sibling"/>-->
<!--                  <xs:field xpath="@type"/>-->
<!--                </xs:keyref>-->

                <!-- key for -->
                <!-- locations_markov_chain/location_markov_link/tag@name -->
<!--                <xs:key name="K__locations_markov_chain__location_markov_link__tag.name">-->
<!--                  <xs:selector xpath="location_markov_link/tag"/>-->
<!--                  <xs:field xpath="@name"/>-->
<!--                </xs:key>-->

                <!-- fk for -->
                <!-- locations_markov_chain/location_markov_link/sibling@tag -->
                <!-- locations_markov_chain/location_markov_link/tag@name -->
<!--                <xs:keyref name="FK__locations_markov_chain__location_markov_link__sibling.tag"-->
<!--                           refer="K__locations_markov_chain__location_markov_link__tag.name">-->
<!--                  <xs:selector xpath="location_markov_link/sibling"/>-->
<!--                  <xs:field xpath="@tag"/>-->
<!--                </xs:keyref>-->
              </xs:element>
            </xs:sequence>

            <xs:attribute name="name" use="required"/>
          </xs:complexType>
        </xs:element>



        <xs:element name="people" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="person" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="race">
                      <xs:complexType>
                        <xs:attribute name="race_ref" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="location" type="type_cell_ref"/>
                    <xs:element name="properties">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="property" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="property_ref" use="required"/>
                              <xs:attribute name="value"
                                            use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="relations" minOccurs="0"
                                maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="with" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="inventory" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item">
                            <xs:complexType>
                              <xs:attribute name="ref"/>
                              <xs:attribute name="equipped"
                                            type="item_slot"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="classifications">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="classification_ref" minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" use="required"/>
                  <xs:attribute name="name"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>

          <!-- unique for -->
          <!-- people/person@id -->
          <xs:unique name="U__people__person.id">
            <xs:selector xpath="person"/>
            <xs:field xpath="@id"/>
          </xs:unique>

          <!-- key for -->
          <!-- people/person@name -->
          <xs:key name="K__people__person.name">
            <xs:selector xpath="person"/>
            <xs:field xpath="@name"/>
          </xs:key>

          <!-- key for -->
          <!-- people/person@id -->
          <xs:key name="K__people__person.id">
            <xs:selector xpath="person"/>
            <xs:field xpath="@id"/>
          </xs:key>

          <!-- fk for -->
          <!-- people/person/relation@with -->
          <!-- people/person@id -->
          <xs:keyref name="FK__people__person__relation.with__to__people_person.id"
                     refer="K__people__person.id">
            <xs:selector xpath="person/relation"/>
            <xs:field xpath="@with"/>
          </xs:keyref>
        </xs:element>


        <xs:element name="location_layer" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cell" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="location_ref" use="required"/>
                  <xs:attribute name="x" use="required"/>
                  <xs:attribute name="y" use="required"/>
                  <xs:attribute name="rotation" type="type_direction"
                                default="north"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" default="default"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="actions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="by" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="do">
                      <xs:complexType>
                        <xs:attribute name="action_ref" use="required"/>
                        <xs:attribute name="person_ref" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="move_towards">
                      <xs:complexType>
                        <xs:attribute name="layer" type="xs:string"/>
                        <xs:attribute name="x" type="xs:int" use="required"/>
                        <xs:attribute name="y" type="xs:int" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute name="person_ref" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>


    <!-- FK classification_metadata -->


    <!-- fk for -->
    <!-- world_step/property_metadata/entry@name -->
    <!-- world_step/classification_metadata/entry/property@name -->
<!--    <xs:keyref name="FK__classification_metadata__entry__property.name"-->
<!--               refer="K__property_metadata__entry.name">-->
<!--      <xs:selector xpath="classification_metadata/entry/property"/>-->
<!--      <xs:field xpath="@name"/>-->
<!--    </xs:keyref>-->


    <!-- fk for -->
    <!-- world_step/classification_metadata/entry/property/operation/add_property_value@name -->
    <!-- world_step/property_metadata/entry@name -->
<!--    <xs:keyref name="FK__classification_metadata__entry__property__add_property_value.name"-->
<!--               refer="K__property_metadata__entry.name">-->
<!--      <xs:selector xpath="classification_metadata/entry/property/operation/add_property_value"/>-->
<!--      <xs:field xpath="@name"/>-->
<!--    </xs:keyref>-->


    <!-- FK race_metadata -->


    <!-- fk for -->
    <!-- world_step/race_metadata/entry/property_bonus@type -->
    <!-- world_step/property_metadata/entry@name -->
<!--    <xs:keyref name="FK__race_metadata__entry__property_bonus.type"-->
<!--               refer="K__property_metadata__entry.name">-->
<!--      <xs:selector xpath="race_metadata/entry/property_bonus"/>-->
<!--      <xs:field xpath="@type"/>-->
<!--    </xs:keyref>-->


    <!-- FK actions -->

    <!-- fk for -->
    <!-- actions/by@name -->
    <!-- people/person@id-->
<!--    <xs:keyref name="FK__actions_by.name__to__people_person.id"-->
<!--               refer="K__people__person.id">-->
<!--      <xs:selector xpath="actions/by"/>-->
<!--      <xs:field xpath="@name"/>-->
<!--    </xs:keyref>-->

    <!-- fk for -->
    <!-- actions/by/do@to -->
    <!-- action_metadata/person_to_person@name -->
<!--    <xs:keyref name="FK__actions_by_do.action__to__people_person.id"-->
<!--               refer="K__action_metadata__person_to_person.name">-->
<!--      <xs:selector xpath="actions/by/do"/>-->
<!--      <xs:field xpath="@action"/>-->
<!--    </xs:keyref>-->

    <!-- fk for -->
    <!-- actions/by/do@to -->
    <!-- people/person@id -->
<!--    <xs:keyref name="FK__actions_by_do.on__to__people_person.id" refer="K__people__person.id">-->
<!--      <xs:selector xpath="actions/by/do"/>-->
<!--      <xs:field xpath="@to"/>-->
<!--    </xs:keyref>-->


    <!-- FK people -->


    <xs:keyref name="FK__people__person__inventory__item.ref"
               refer="K__item_metadata__entry.name">
      <xs:selector xpath="people/person/inventory/item"/>
      <xs:field xpath="@ref"/>
    </xs:keyref>


    <!-- FK events_chain -->


    <!-- fk for -->
    <!-- events_chain/entry/setup/create_action@type -->
    <!-- action_metadata/person_to_person@name -->
<!--    <xs:keyref name="FK__events_chain__entry__setup__create_action.type"-->
<!--               refer="K__action_metadata__person_to_person.name">-->
<!--      <xs:selector xpath="events_chain/entry/setup/create_action"/>-->
<!--      <xs:field xpath="@type"/>-->
<!--    </xs:keyref>-->


    <!-- FK quests_markov_chain -->


    <!-- fk for -->
    <!-- quests_markov_chain/quest_markov_link/complete_condition/person_group@name -->
    <!-- quests_markov_chain/quest_markov_link/person_group@name -->
<!--    <xs:keyref name="FK__quests_markov_chain__quest_markov_link__complete_condition__person_group.name"-->
<!--               refer="K__quests_markov_chain__quest_markov_link__person_group.name">-->
<!--      <xs:selector xpath="quest_markov_link/complete_condition/person_group"/>-->
<!--      <xs:field xpath="@name"/>-->
<!--    </xs:keyref>-->

    <!-- fk for -->
    <!-- quests_markov_chain/quest_markov_link/next@type -->
    <!-- quests_markov_chain/quest_markov_link@type -->
<!--    <xs:keyref name="FK__quests_markov_chain__quest_markov_link__next.type"-->
<!--               refer="K__quests_markov_chain__quest_markov_link.type">-->
<!--      <xs:selector xpath="quest_markov_link/next"/>-->
<!--      <xs:field xpath="@type"/>-->
<!--    </xs:keyref>-->

    <!-- fk for -->
    <!-- quests_markov_chain/quest_markov_link/person_group/classification@name -->
    <!-- classification_metadata/entry@name -->
<!--    <xs:keyref name="FK__quest_markov_link__person_group__classification.name"-->
<!--               refer="K__classification_metadata__entry.name">-->
<!--      <xs:selector xpath="quest_markov_link/person_group/classification"/>-->
<!--      <xs:field xpath="@name"/>-->
<!--    </xs:keyref>-->

  </xs:element>
</xs:schema>