generator/tests/model/element/complexContent/input.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="complex_type">
    <xs:sequence>
      <xs:element name="complex_type" type="xs:int">
      </xs:element>
    </xs:sequence>
    <xs:attribute name="complex_attribute" type="xs:int"/>
  </xs:complexType>

  <xs:element name="root">
    <xs:complexContent>
      <xs:extension base="complex_type">
        <xs:attribute name="attribute" type="xs:int" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:element>
</xs:schema>