generator/tests/model/complex_type/group/input.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:group name="group">
    <xs:sequence>
      <xs:element name="operation" type="xs:int">
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="root">
    <xs:complexType>
      <xs:group ref="group"/>
    </xs:complexType>
  </xs:element>
</xs:schema>